body{
	padding: 0;
	margin: 0;
	height: 100vh;
	width: 100%;
	font-family: "Comic Sans MS", cursive, sans-serif;
	overflow: hidden;
	color: rgb(43,87,153);
	touch-action: none;
}

div {
	margin: 0;
	padding: 0;
}

#first_page {
	position: fixed;
	top: 0;
	height: 100%;
	width: 100%;
	text-align: center;
	z-index: 5;
}

#join_page, #host_page {
	height: 100%;
	width: 100%;
	display: none;
}

#logo {
	height: 50vh;
	min-height: 20mm;
	margin: 5vh;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center center;
	cursor: pointer;
}

.nav_container {
	width: 40mm;
	margin: 0 auto;
	text-align: left;
}

#first_page .nav_container {
	height: 30vh;
	line-height: 15vh;
}

#join_page .nav_container, #host_page .nav_container {
	position: absolute;
	height: 20mm;
	bottom: 2mm;
}

#host_container .nav_container {
	position: static;
	margin: 1mm;
	width: 45mm;
}

#host_container .nav_container .go_btn {
	float: right;
}

.go_join, .go_host {
	display: inline-block;
	height: 10mm;
	font-size: 8mm;
	line-height: 8mm;
	text-align: left;
	cursor: default;
	vertical-align: middle;
}

.go_btn {
	vertical-align: middle;	
}

.label {
	display: inline-block;
	height: 10mm;
	font-size: 8mm;
	margin: 0 2mm;
	line-height: 10mm;
	cursor: default;
	vertical-align: middle;
}

.btn {
	display: inline-block;
	height: 10mm;
	width: 10mm;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center center;
}

.sidebar{
	display: inline-block;
	height: 100%;
	width: 40mm;
	float: left;
	padding-top: 2mm;
	background-size: 100% 100%;
}

.field_container {
	height: 10mm;
}

input {
	display: inline-block;
	position: absolute;
	height: 6mm;
	width: 26mm;
	left: 11mm;
	margin-top: 1mm;
	font-family: "Comic Sans MS", cursive, sans-serif;	
}

.head_bar{
	display: inline-block;
	height: 100%;
	width: calc(100% - 40mm);
	height: 10mm;
}

#btn_tribe_sort {
	height: 8mm;
	width: 8mm;
	margin: 1mm;
	vertical-align: middle;
	cursor: pointer;
}

#roomname_sort {
	display: inline-block;
	font-size: 6mm;
	height: 10mm;
	vertical-align: middle;
	overflow: hidden;
	overflow-y: hidden;
	cursor: pointer;
}

#active_sort, #posted_sort {
	display: inline-block;
	height: 10mm;
	width: 10mm;
	vertical-align: middle;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center center;
	cursor: pointer;
	float: right;
}

#room_container, #host_container {
	display: inline-block;
	height: calc(100% - 10mm);
	width: calc(100% - 40mm);
	font-size: 6mm;
	overflow-y: scroll;
}

#host_container {
	overflow-y: hidden;
}

.room {
	height: 10mm;
	cursor: default;
}

.bullet{
	display: inline-block;
	margin: 2mm;
	height: 6mm;
	width: 6mm;	background-size: contain;
	background-repeat: no-repeat;
	background-position: center center;
	vertical-align: middle;
}

.roomname_field{
	display: inline-block;
	height: 100%;
	width: calc(100% - 31mm);
	vertical-align: middle;
	overflow: hidden;
}

.num_active, .num_posted {
	display: inline-block;
	height: 100%;
	width: 10mm;
	text-align: center;
	vertical-align: middle;
	overflow: hidden;
}

#rotate_screen {
	display: none;
	position: fixed;
	height: 100vh;
	width: 100%;
	z-index: 20;
}

#rotate_screen_msg {
	height: calc(100% - 10mm);
	width: calc(100% - 10mm);
	max-width: 50mm;
	margin: 5mm auto;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center center;
}

#small_screen {
	display: none;
	position: fixed;
	height: 100vh;
	width: 100%;
	z-index: 20;
}

#small_screen_msg {
	height: calc(100% - 6mm);
	width: calc(100% - 6mm);
	max-width: 50mm;
	margin: 3mm auto;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center center;
}

@media only screen and (max-height: 54mm) {#small_screen {display: block;}}
@media only screen and (orientation: portrait) {#rotate_screen {display: block;}}

#first_page { background-image: url('img/blue/bar_top.png'); }
#logo { background-image: url('img/sketchy_logo_color.png'); }
.go_btn { background-image: url('img/blue/go.png'); }
.sidebar{ background-image: url('img/blue/bar_left_wide.png'); }
#btn_tribe { background-image: url('img/blue/tribe.png'); }
#btn_search { background-image: url('img/blue/search.png'); }
#btn_tribe_2 { background-image: url('img/blue/tribe.png'); }
#btn_draw { background-image: url('img/blue/draw.png'); }
.head_bar { background-image: url('img/blue/bar_top.png'); }
#active_sort { background-image: url('img/common/tile_b_active.png'); }
#posted_sort { background-image: url('img/common/tile_b_posted.png'); }
#btn_tribe_sort { background-image: url('img/blue/tribe.png'); }
.bullet { background-image: url('img/common/tribe_b.png'); }
#rotate_screen { background-image: url('img/blue/bar_top.png'); }
#rotate_screen_msg { background-image: url('img/blue/rotate_screen.png'); }
#small_screen { background-image: url('img/blue/bar_top.png'); }
#small_screen_msg { background-image: url('img/blue/small_screen.png'); }